* {
    margin:0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.choices {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    background-color: blue;
    height:40vh;
}
.rock {
    cursor: pointer;
}
.paper {
    cursor: pointer;
}
.scissors {
    cursor: pointer;
}
h1 {
    text-align: center;
    background-color: blue;
}
.scoreboard {
    display:flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
    background-color: green;
}

.playerScore {
    font-size:50px;
}

.computerScore {
    font-size:50px;
}
.scoreboard-mid {
    font-size:50px;
}