h1 {
  text-align: center;
}

.containerIcons {
  height: 150px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.containerIcons img {
  height: 150px;
  cursor: pointer;
}

.containerScore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
  height: 60px;
}

.computerScoreBoard,
.playerScoreBoard {
  text-align: center;
}

.playerScore,
.computerScore {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: bold;
}

.containerResults {
  display: flex;
  gap: 90px;
}

.containerAnnounceResult {
  text-align: center;
  font-weight: bold;
}

.containerResults {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerResults img {
  height: 150px;
  margin-bottom: 30px;
}
.containerAnnounceResult {
  margin-bottom: 30px;
}

.containerPlayAgain {
  text-align: center;
}

.buttonPlayAgain {
  display: none;
}
